@model BookStore.Models.Voucher

@{
    ViewBag.Title = "Details";
}


<div>
    <h2 style="font-weight: 600">Chi tiết thông tin Voucher</h2>
    <dl class="dt-horizontal">
        <dt>
            Tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.VoucherID})" class="btn btn-success" style="margin-right: 10px;">Sửa</a>
    <a href="/Vouchers/Index" style="text-decoration: none">Quay trở lại</a>
</p>