@model BookStore.Models.Subject

@{
    ViewBag.Title = "Details";
}



<div>
    <h2 style="font-weight: 600;">Chi tiết thông tin chủ đề</h2>
    <dl class="dt-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.subjectID})" class="btn btn-success">Sửa</a>
    <a href="/Subjects/Index" style="text-decoration: none">Quay trở lại</a>
</p>
